@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  margin: 0; 
  padding: 0;
 }

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

nav{
position: fixed;
top: 0;
display: block;
width: 100%;
background: black;
}

nav a{
  float:right;
  margin:1em;
  color:#ffffff;
  text-decoration: none;
}

nav a:hover{
  color:slategray;
}

nav li{
  padding:1em;
  display:block;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

iframe {
  margin: 1rem; display:inline-block; width:20%;

}

footer h1{
  display: inline-block;
}

p.text-center{
  text-align: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}