@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  margin: 0; 
  padding: 0;
 }

body {
  font-family: lato;
}

iframe {
  margin: 1rem; display:inline-block; width:20%;

}

footer h1{
  display: inline-block;
}

p.text-center{
  text-align: center;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.subfooter{
  background-color: darkslategray;
  border-top: 1px solid darkslategray;
  border-bottom: 1px solid darkslategray;
  padding: 40px 0;
}