@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  margin: 0; 
  padding: 0;
 }

body {
  font-family: lato;
}

footer {position:fixed; bottom:0; left:0; height:35%; width: 100%; background: black; }

iframe {
  margin: 1rem; display:inline-block; width:20%;

}

footer h1{
  display: inline-block;
}